@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h1 id="text">Starting</h1>
<div class="typing-text">
    <input class="text-speed-input" style="display: none; text-align: center;" type="number" name="speed" id="speed" value="1" min="1" max="5" step="1">
</div>

<body>
    <h1 class="section-title">Contents</h1>

    <ul class="section-list">
        <li>
            <h2 class="section-title">On what basis do we process your Personal Data?</h2>
            <p class="section-paragraph">We process your Personal Data using the following legal bases:</p>
            <ul class="section-list">
                <li class="list-item">(i) with your consent,</li>
                <li class="list-item">(ii) in order to provide services to you under the terms of a contract between you and Delta, or, in order to enter into a contract between you and Delta and at your request (e.g., when you sign up for a Delta account),</li>
                <li class="list-item">(iii) for compliance by Delta with a legal obligation, or</li>
                <li class="list-item">(iv) if the processing is necessary for the protection of our legitimate interests or the legitimate interests of a third party, unless your interests or fundamental rights and freedoms requiring the protection of your Personal Data override these.</li>
            </ul>
        </li>
        <li>
            <h2 class="section-title">What kinds of Personal Data do we use?</h2>
            <p class="section-paragraph">At Delta Languages, we collect and use (process) your Personal Data in different ways, depending on how you interact with Delta - whether you are a:</p>
            <ul class="section-list">
                <li class="list-item">User who uses Delta to learn languages;</li>
                <li class="list-item">Visitor to Delta’s websites;</li>
                <li class="list-item">Contact person at a Delta Languages customer who enables the employees of the Delta customer to use Delta;</li>
                <li class="list-item">Job applicant who wants to join our team;</li>
                <li class="list-item">Contact person at a service provider, supplier, business partner, or a freelancer with whom we cooperate;</li>
                <li class="list-item">Visitor to Delta’s social media websites and/or apps.</li>
            </ul>
        </li>

    </ul>

    <h2 class="section-title">2.1 Users</h2>
    <ul class="section-list">
        <li class="list-item">
            <h3 class="section-title">2.1.1</h3>
            <p class="section-paragraph">If you are a Delta Languages user, we process the Personal Data that you provide when you register with Delta Languages, or that you provide when you complete your profile. This includes, for example, your name and email address, as well as your payment details (including bank information, account number and/or the card you use for payment).</p>
            <p class="section-paragraph">This Personal Data is processed for the following purposes, and on the following legal bases:</p>
            <ul class="section-list">
                <li class="list-item">Registration for and provision of the Delta Languages language learning app and other services related to our learning platform;</li>
                <li class="list-item">Booking, management, and delivery of Delta Languages Live sessions and Intensive One-to-One courses;</li>
                <li class="list-item">Support and communication: responding to requests from users;</li>
                <li class="list-item">Processing payments.</li>
            </ul>
            <p class="section-paragraph">Legal basis: Performance of a contract and/or pre-contractual measures</p>
            <p class="section-paragraph">Non-promotional communication on technical, security, and contract-related topics (e.g. fraud alerts, account blocking, or contract changes);</p>
            <p class="section-paragraph">Non-promotional communication regarding product updates, new features, as well as motivating users to learn.</p>
            <p class="section-paragraph">Legal basis: legitimate interest</p>
            <p class="section-paragraph">Conducting product and satisfaction surveys;</p>
            <p class="section-paragraph">Advertising of products and services of Delta Languages and its business affiliates.</p>
            <p class="section-paragraph">Legal basis: consent (in situations where we have obtained consent from you); legitimate interest in all other cases.</p>
            <p class "section-paragraph">Compliance with legal requirements and data retention obligations.</p>
            <p class="section-paragraph">Legal basis: legal obligation</p>
        </li>
        <li class="list-item">
            <h3 class="section-title">2.1.2</h3>
            <p class="section-paragraph">We process information about your learning behavior, personal vocabulary, and learning progress. This includes content and voice recordings, if applicable.</p>
            <p class="section-paragraph">This Personal Data is processed for the following purposes, and on the following legal bases:</p>
            <ul class="section-list">
                <li class="list-item">Deploying the app and adapting our services to your needs and skills;</li>
                <li class="list-item">Reviewing pronunciation and measuring your learning.</li>
            </ul>
            <p class="section-paragraph">Legal basis: Initiation and performance of contract</p>
            <p class="section-paragraph">Selection of suitable users for interviews, surveys, and campaigns;</p>
            <p class="section-paragraph">Anonymization of voice for speech analysis and further development of internal machine learning.</p>
            <p class="section-paragraph">Legal basis: legitimate interest</p>
            <p class="section-paragraph">Compliance with legal requirements and data retention obligations.</p>
            <p class="section-paragraph">Legal basis: legal obligation</p>
        </li>
        <li class="list-item">
            <h3 class="section-title">2.1.3</h3>
            <p class="section-paragraph">We process pseudonymized information about how you behave on our app. This includes server log files, IP addresses, and user IDs, some of which are assigned by third-party providers.</p>
            <p class="section-paragraph">This Personal Data is processed for the following purposes, and on the following legal bases:</p>
            <ul class="section-list">
                <li class="list-item">Scientific research purposes for the areas of machine learning, artificial intelligence, natural language processing, and deep learning (transmission to third parties only after prior anonymization);</li>
                <li class="list-item">Ensuring the security, operability, and stability of our services, including defense against cyber-attacks.</li>
            </ul>
            <p class="section-paragraph">Legal basis: legitimate interest</p>
            <p class="section-paragraph">To measure our reach and analyze user behavior to optimize our products, increase customer satisfaction and improve error analysis;</p>
            <p class="section-paragraph">Tracking and conversion tracking to measure our reach and conversion rate tracking of our business affiliate partners.</p>
            <p class="section-paragraph">Legal basis: consent (in situations where we have obtained consent from you); legitimate interest in all other cases.</p>
        </li>
        <li class="list-item">
            <h3 class="section-title">2.1.4</h3>
            <p class="section-paragraph">We process feedback and information you provide in surveys and interviews.</p>
            <p class="section-paragraph">This Personal Data is processed for the following purposes, and on the following legal bases:</p>
            <ul class="section-list">
                <li class="list-item">Optimization of our products, increasing customer satisfaction and improving error analysis;</li>
                <li class="list-item">Publication on our website and other marketing channels for promotional purposes.</li>
            </ul>
            <p class="section-paragraph">Legal basis: consent (in situations where we have obtained consent from you); Legitimate interest in all other cases.</p>
        </li>
    </ul>
    </li>
    <li>
        <h2 class="section-title">2.2 Website visitors</h2>
        <ul class="section-list">
            <li class="list-item">
                <h3 class="section-title">2.2.1</h3>
                <p class="section-paragraph">We process data you provide to us in contact forms about yourself or the company you work for, such as your name, email address, and telephone number.</p>
                <p class="section-paragraph">This Personal Data is processed for the following purposes, and on the following legal bases:</p>
                <ul class="section-list">
                    <li class="list-item">Customer acquisition;</li>
                    <li class="list-item">Support and communication: answering inquiries.</li>
                </ul>
                <p class="section-paragraph">Legal basis: legitimate interest</p>
            </li>
            <li class="list-item">
                <h3 class="section-title">2.2.2</h3>
                <p class="section-paragraph">Pseudonymized information about the device and browser you are using, server log files, your network connection, and your IP address.</p>
                <p class="section-paragraph">This Personal Data is processed for the following purposes, and on the following legal bases:</p>
                <ul class="section-list">
                    <li class="list-item">Ensuring the security, operability, and stability of our services, including defense against cyber-attacks;</li>
                    <li class="list-item">Integration of third-party content (ratings, videos, questionnaires).</li>
                </ul>
                <p class="section-paragraph">Legal basis: legitimate interest</p>
            </li>
            <li class="list-item">
                <h3 class="section-title">2.2.3</h3>
                <p class "section-paragraph">Information about how you behave on the website. This includes your IP address and user IDs, some of which are assigned by third-party providers.</p>
                <p class="section-paragraph">This Personal Data is processed for the following purposes, and on the following legal bases:</p>
                <ul class="section-list">
                    <li class="list-item">To measure reach and analyze user behavior to optimize our websites, increasing customer satisfaction and analyzing errors;</li>
                    <li class="list-item">Conversion tracking to measure reach and determine commissions for our affiliate partners;</li>
                    <li class="list-item">Remarketing for acquisition purposes and new customer acquisition.</li>
                </ul>
                <p class="section-paragraph">Legal basis: consent (in situations where we have obtained consent from you); legitimate interest in all other cases.</p>
            </li>
        </ul>
    </li>
    <li>
        <h2 class="section-title">2.3 Contact persons at Delta customers</h2>
        <p class="section-paragraph">We process data you provide to us about yourself and the company you work for, such as your name, email address, and telephone number.</p>
        <p class="section-paragraph">This Personal Data is processed for the following purposes, and on the following legal bases:</p>
        <ul class="section-list">
            <li class="list-item">Fulfillment of the contract with your company (e.g. to manage your account, for invoicing, following up on invoices);</li>
            <li class="list-item">Registration on our admin portal;</li>
            <li class="list-item">Support and communication: answering requests;</li>
            <li class="list-item">Non-promotional communication regarding product updates and new features, and to motivate the users at your company.</li>
        </ul>
        <p class="section-paragraph">Legal basis: legitimate interest</p>
        <p class="section-paragraph">Conducting product and satisfaction surveys;</p>
        <p class="section-paragraph">Advertising of products and services of Delta Languages and business affiliates.</p>
        <p class="section-paragraph">Legal basis: consent (in situations where we have obtained consent from you); legitimate interest in all other cases.</p>
        <p class="section-paragraph">To comply with legal requirements and data retention obligations.</p>
        <p class="section-paragraph">Legal basis: legal obligations</p>
    </li>
    </ul>


    <h2 style="padding:10px;">Here's a little bit more to see what data we have collected.</h2>
    <p>All data we collect is privately stored via the AWS or Azure platforms. The data you see here is merely a representation of how we store our data.</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Language</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>English, French</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Afrikaans</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="1">Larry</td>
                <td>Benson</td>
                <td>Arabic</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="1">Sarah</td>
                <td>Lee</td>
                <td>Swedish, Estonian</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="1">Perry</td>
                <td>Goldwater</td>
                <td>Spanish, Thai, Japanese</td>
            </tr>
        </tbody>
    </table>
</body>



<script src="~/js/Privacy.js"></script>
